<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SampleTestingProjectAppZone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SampleTestingProjectAppZone.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://professional.demo.orangehrmlive.com</value>
            </setting>
            <setting name="LoginUsernameTextbox" serializeAs="String">
                <value>txtUsername</value>
            </setting>
            <setting name="LoginPasswordTextbox" serializeAs="String">
                <value>txtPassword</value>
            </setting>
            <setting name="LoginButton" serializeAs="String">
                <value>btnLogin</value>
            </setting>
            <setting name="AdminMenu" serializeAs="String">
                <value>menu_admin_viewAdminModule</value>
            </setting>
            <setting name="QualificationMenu" serializeAs="String">
                <value>menu_admin_Qualifications</value>
            </setting>
            <setting name="SkillsMenu" serializeAs="String">
                <value>menu_admin_viewSkills</value>
            </setting>
            <setting name="BtnAddSkill" serializeAs="String">
                <value>btnAdd</value>
            </setting>
            <setting name="SkillTitle" serializeAs="String">
                <value>skill_name</value>
            </setting>
            <setting name="SkillDescription" serializeAs="String">
                <value>skill_description</value>
            </setting>
        </SampleTestingProjectAppZone.Properties.Settings>
    </userSettings>
</configuration>